@model IdentitySample.Models.RegisterViewModel


<div class="owl-item" style="width: 555px;">

    <blockquote class="r_corners shadow f_size_large relative m_bottom_15 animate_ftr animate_horizontal_finished">@Html.DisplayFor(model => model.PersonnalDescription)</blockquote>
    <img class="circle m_left_20 d_inline_middle animate_ftr animate_horizontal_finished" src="/Content/images/testimonial_img_1.jpg" alt="">
    <div class="d_inline_middle m_left_15 animate_ftr animate_horizontal_finished">
        <h5 class="color_dark"><b>@Html.DisplayFor(model => model.UserName)</b></h5>
        <p>@Html.DisplayFor(model => model.Country)</p>
    </div>

</div>
  

        @*<hr />*@
        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserRoles)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserRoles)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ConfirmPassword)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ConfirmPassword)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RegisterUserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegisterUserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RegisterEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegisterEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Country)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.JoinDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JoinDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailLinkDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailLinkDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LAstLoginDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LAstLoginDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HomeTown)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HomeTown)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>

            </dl>*@
    @*</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
